@page "/about"


<h1>About</h1>
<h2>procedural spell generation</h2>
<br />
<p>
    This side project started as a thought excercise - what system would you need in order to allow a player character to perform exploratory arcane experiments to discover new magic.
    Not just spells that were new to them, but literally new to the world they inhabit. How could this be done? At first I started thinking of putting together an elaborate set of
    tables to roll from, one after the other: school, cast time, duration, etc. It became apparent very quickly that any set of tables would be either too cumbersome to be functional or
    too small to provide enough options to really give the feeling of discovering something original. As such, I decided to put together a procedural solution to the problem.
</p>
<p>
    <strong>The spells created by this generator are not balanced.</strong> They are randomly generated with a vague goal for a power rating, but it really just aims for the general ballpark.
    It is left up to the DM to determine what level should be appropriate for any new spell. I would suggest not definining a permanent spell level upon creation. Instead,
    label the spell as unstable and experimental. Then, after sufficient time of actually seeing it used, you can come back and tweak any part of the spell as needed to bring it to a place
    that you are comfortable with in your game.
</p>