@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@using System.Reflection
@inject IConfiguration Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Version @GetVersion()
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

@code {
    private string GetVersion(){
        return Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion ?? "-";
    }
}
